*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --bg-color: #FEE29C;
  --primary-text-color: #274657;
}

body {
  font-size: 14px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary-text-color);
}

main {
  margin-top: 6em;
  padding: 0 1em;
}

section {
  margin-top: 2em;
  position: relative;
}

h1, h2, h3, p {
  margin: 0;
}

p {
  line-height: 1.6em;
}

.img {
  width: 20em;
}

.link:hover, .link:focus {
  text-decoration: underline;
}

.logo_bg {
  position: absolute;
  top: -55px;
  left: -100px;
  z-index: -99;
  width: 20em;
  height: 20em;
  background-image: url(./logos/logo_bg.svg);
  background-size: cover;
  opacity: 0.3;
}

.footer {
  background-color: var(--bg-color);
}

@media (min-width: 700px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

/* Navigation styles */

.header {
  background-color: var(--bg-color);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5em;
  display: flex;
  z-index: 99;
}

.header__logo-full {
  margin: auto;
  width: 6em;
}

nav {
  position: absolute;
  top: 100%;
  left: 0;
  text-align: left;
  background: var(--bg-color);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 250ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1rem;
}

nav a { 
  text-decoration: none;
  font-weight: bolder;
  color: var(--primary-text-color);
  opacity: 0;
  transition: opacity 50ms ease-in-out;
  
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 150ms ease-in-out 200ms;
}

.nav-toggle-label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1em;
  height: 100%;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    background-color: var(--primary-text-color);
    width: 2em;
    height: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  top: 7px;
}

.nav-toggle-label span::after {
  bottom: 7px;
}

@media (min-width: 700px) {
  .nav-toggle-label {
    display: none;
  }

  .header {
    height: 6em;
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }

  .header__logo-full {
    grid-column: 2 / span 1;
    width: 7em;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0.5em;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav a {
    opacity: 1;
  }

  .nav__item {
    margin: 0 1.5em 0 0;
  }

  .nav__item:last-of-type {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .header {
    grid-template-columns: 1fr minmax(300px, 1fr) minmax(700px, 1fr) 1fr;
  }

  .header__logo-full {
    margin: auto 0;
  }
}

/* Main sections styles */

.heading, .section__text, .section__img, iframe, .episode__title {
  margin-bottom: 1em;
}

.main__heading {
  font-weight: bolder;
}

section {
  margin-bottom: 2em;
}

.section__img, iframe {
  width: 100%;
}

.intro__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFC800;
  width: 15em;
  height: 3em;
}

.intro__btn a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  color: #274657;
  cursor: pointer;
}

.intro__btn a:hover, .intro__btn a:focus {
  color: black;
}

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr minmax(680px, 1fr) 1fr;
    margin-top: 2em;
    padding: 0;
  }

  .homepage, .about, .episodes {
    grid-column: 2 / 3;
  }
}

@media (min-width: 1200px) {
  main {
    grid-template-columns: 1fr minmax(1000px, 1fr) 1fr;
    margin-top: 3em;
  }
  .homepage {
    display: grid;
    grid-template-columns: minmax(460px, 1fr) 1fr minmax(460px, 1fr);
    grid-template-rows: repeat(6, 85px);
  }

  .main__heading {
    grid-column: 1 / 2;
    grid-row: span 1;
    margin: 0;
  }

  .first__intro {
    grid-column:  1 / 2;
    grid-row: 2 / 3;
  }

  .second__intro {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .intro__btn {
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: -1;
    grid-row-end: -2;
  }

  .about {
    display: grid;
    grid-template-columns: minmax(460px, 1fr) 1fr minmax(460px, 1fr);
    grid-template-rows: repeat(8, 65px);
  }

  .about__heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0;
  }

  .about__section-one {
    grid-column: 1 / 2;
  }

  .about__section-two {
    grid-column: 3 / 4;
  }

}

/* Footer styles */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  position: relative;
}

.footer__logo {
  width: 4em;
}

.mouse__logo {
  width: 5em;
  position: absolute;
  bottom: 0;
  left: 70%;
  /* z-index: -100; */
}

.social__icon_container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.social__icons {
  margin-left: 1em;
  width: 1.5em;
}

.first__child {
  margin-left: 0;
}

@media (min-width: 700px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr minmax(140px, 1fr) minmax(400px, 1fr) minmax(140px, 1fr) 1fr;
    text-align: center;
  }

  .footer__logo {
    grid-column: 2 / 3;
  }

}

@media (min-width: 1200px) {
  .footer {
    grid-template-columns: 1fr minmax(200px, 1fr) minmax(600px, 1fr) minmax(200px, 1fr) 1fr;
  }
}

